# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1. Game of Thrones
2. Avatar Last Airbender
3. Peaky Blinders
4. Friends
5. That 70's Show
6. Alone
7. Forged in Fire
8. Dexter
9. River Monsters
10. Dark Waters

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [14]:
# Code here
import sqlite3
import pandas as pd 
df = pd.read_csv(r"tv_shows.csv")
df = df.drop(columns=['Unnamed: 0'])

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [16]:
# Code here

con = sqlite3.connect('tv.db')
print(con)
cur = con.cursor()
print(cur)

cur.execute("DROP TABLE IF EXISTS shows_table")
shows = df.to_sql('df', con, if_exists='replace')

con.execute(
    """
    CREATE TABLE shows_table as 
    SELECT * FROM df
    """
)

<sqlite3.Connection object at 0x00000298F91A0040>
<sqlite3.Cursor object at 0x00000298F9181F40>

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [17]:
# Code Here
shows_df = pd.read_sql_query('SELECT * FROM shows_table;', con)
shows_df.head(20)

,index,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [19]:
# Code here
with con:                           
    con.executescript("""           
        BEGIN;
        CREATE TABLE watchlist (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            title TEXT,
            importance_rank INT
            
        );
        COMMIT;
    """)

In [39]:
sql = 'INSERT INTO watchlist (title, importance_rank) values(?, ?)'
data = [
("Game of thrones", 6),
("Avatar Last Airbender", 1),
("Peaky Blinders", 10),
("Friends", 8),
("That 70's Show", 9),
("Alone", 3),
("Forged in Fire", 4),
("Dexter", 7),
("River Monsters", 2),
("Dark Waters", 5),
 ]

with con:
    con.executemany(sql, data)

data_df = pd.DataFrame(data, columns=("Title", "Importance_rank"))

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [24]:
# Code here
print(len(df))

5368

In [29]:
hulu = df[df['Hulu'] == 1]
netflix = df[df['Netflix'] == 1]
disney = df[df['Disney+'] ==1]
prime_video = df[df['Prime Video'] ==1]
print(len(hulu), len(netflix), len(disney), len(prime_video))

1621 1971 351 1831

In [34]:
hulu_percent = round(len(hulu)/len(df), 2)

netflix_percent = round(len(netflix)/len(df), 2)

disney_percent = round(len(disney)/len(df), 2)

prime_video_percent = round(len(prime_video)/len(df), 2)


print(hulu_percent, netflix_percent, disney_percent, prime_video_percent)

0.3 0.37 0.07 0.34


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [41]:
# Code here
inner = pd.merge(data_df, df, how="inner", left_on="Title", right_on="Title", indicator=True)

In [42]:
print(inner)

            Title  Importance_rank    ID  Year  Age    IMDb Rotten Tomatoes  \
0  Peaky Blinders               10     7  2013  18+  8.8/10          93/100
1           Alone                3   148  2015  16+  8.4/10          77/100
2  Forged in Fire                4   427  2015   7+  8.4/10          65/100
3          Dexter                7  3583  2006  18+  8.6/10          92/100
4  River Monsters                2  2459  2009   7+  8.1/10          63/100

   Netflix  Hulu  Prime Video  Disney+  Type _merge
0        1     0            0        0     1   both
1        1     1            0        0     1   both
2        1     1            1        0     1   both
3        0     0            1        0     1   both
4        0     1            1        0     1   both

In [49]:
hulu_shows = inner[inner['Hulu'] == 1]
hulu_watchlist = round(len(hulu_shows) / len(data_df), 2)
prime_video_shows = inner[inner['Prime Video'] == 1]
prime_video_watchlist = round(len(hulu_shows) / len(data_df), 2)
disney_shows = inner[inner['Disney+'] == 1]
disney_watchlist = round(len(disney_shows) / len(data_df), 2)
netflix_shows = inner[inner['Netflix'] == 1]
netlfix_watchlist = round(len(netflix_shows) / len(data_df), 2)
print(hulu_watchlist, prime_video_watchlist, disney_watchlist, netlfix_watchlist)

0.3 0.3 0.0 0.3

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- No but they could of just not been on the streaming services or there could of been a spelling difference between my watch list and the data set

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

- Yes and it just shows that it is missing in the other services

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

- forged in fire is on the most and peaky blinders and dexter are exclusives

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

- All but disney plus are tied at 3.

In [50]:
con.close()

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [ ]:
# Code Here