# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [8]:
# Import pandas and any other libraries you need here.
import pandas as pd

# Create a new dataframe from your CSV
df = pd.read_csv(r'C:\Users\Devin\Downloads\archive (1)\Womens-Clothing-E-Commerce-Reviews.csv')

import matplotlib as mpl

ModuleNotFoundError: No module named 'matplotlib'

In [7]:
# Print out any information you need to understand your dataframe
df.shape
df.describe()
df.head(5)
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

## Missing Data

Try out different methods to locate and resolve missing data.

In [5]:
# Try to find some missing data!
df.isnull()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
23481,False,False,False,False,False,False,False,False,False,False,False
23482,False,False,False,False,False,False,False,False,False,False,False
23483,False,False,False,False,False,False,False,False,False,False,False
23484,False,False,False,False,False,False,False,False,False,False,False
23485,False,False,False,False,False,False,False,False,False,False,False

Did you find any missing data? What things worked well for you and what did not?

In [ ]:
# Respond to the above questions here: I noticed some of the titles are null or have missing values by running "isna" and "isnull"

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [8]:
# Keep an eye out for outliers!
df.plot.hist(column="Rating")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [11]:
# Make your notes here: describe was an effective way to visual the data and get an idea of which minimums and maximums where far off from the data set

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplice column. Check out the dataset to see if there is any unnecessary data.

In [10]:
# Look out for unnecessary data!
df.head(5)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

Did you find any unnecessary data in your dataset? How did you handle it?

In [ ]:
# Make your notes here. I think neither the division or department name section is necessary to the analysis and the best way to handle them would be dropping them.

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [12]:
# Look out for inconsistent data! 
df.rating = df.Recommended_IND.astype('bool')

AttributeError: 'DataFrame' object has no attribute 'Recommended_IND'

Did you find any inconsistent data? What did you do to clean it?

In [ ]:
# Make your notes here! I thought the column where it was using 1 and 0 for whether it was recommended or not would be better as a boolean